<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="./vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nijige</title>
</head>
<body>
    <div id="app">
        <input type="color" v-model=" btn.background">
        <label for="width"> Width</label>

        <input  id="width" type="text" v-model=" btn.width">
        <label for="height"> Height</label>

        
        <input  id="fontSize" type="text" v-model=" btn.fontSize">
        <label for="fontSize"> font Size</label>

        <label for="fontFamily"> font Family</label>
        <input  id="fontFamily" type="text" v-model=" btn.fontFamily">


        {{btn.background}}

        <a :style="btn" href="">Clique Aqui</a>
    </div>

    <script>
        const vue = new Vue({
            el:"#app",
            data:{
                btn:{
                background:"#000",
                width:"100px",
                height:"40px",
                fontSize:"20px",
                fontFamily:"monospace",

                }
            }
        });
    </script>

    <style>
        label{
            display: block;
        }
        a{
            margin-top: 100px;
            display: block;
        }

    </style>
</body>
</html>